[Desktop Entry]
Name=Quit
Name[af]=Sluit af
Name[am]=ውጣ 
Name[ang]=
Name[ar]=أنهِ
Name[as]=প্ৰস্থান 
Name[ast]=Colar
Name[az]=Çıx
Name[az_IR]=
Name[be]=Выйсці
Name[be@latin]=Vyjdzi
Name[bg]=Спиране на програмата
Name[bn]=প্রস্থান 
Name[bn_IN]=প্রস্থান 
Name[br]=Kuitaat
Name[bs]=Izađi
Name[ca]=Surt
Name[ca@valencia]=Ix
Name[crh]=Terk Et
Name[cs]=Ukončit
Name[cy]=Gadael
Name[da]=Afslut
Name[de]=Beenden
Name[dz]=སྤངས།
Name[el]=Έξοδος
Name[en]=
Name[en@shaw]=𐑒𐑢𐑦𐑑
Name[en_CA]=Quit
Name[en_GB]=Quit
Name[eo]=Ĉesi
Name[es]=Salir
Name[et]=Lõpeta
Name[eu]=Irten
Name[fa]=ترک
Name[fi]=Lopeta
Name[fr]=Quitter
Name[ga]=Scoir
Name[gl]=Saír
Name[gu]=બહાર નીકળો 
Name[he]=יציאה
Name[hi]=बाहर जाएँ 
Name[hr]=Završi
Name[hu]=Kilépés
Name[hy]=
Name[ia]=Quitar
Name[id]=Keluar
Name[io]=Livez
Name[is]=Hætta
Name[it]=Esci
Name[ja]=終了
Name[ka]=დასრულება
Name[kg]=sisa
Name[kk]=Шығу
Name[kn]=ಬಿಟ್ಟು ಬಿಡು
Name[ko]=끝내기
Name[ku]=Derketin
Name[lg]=Mala
Name[li]=Aafsjloete
Name[lt]=Išeiti
Name[lv]=Iziet
Name[mai]=बाहर 
Name[mi]=Whakamutu
Name[mk]=Крај
Name[ml]=പുറത്ത് കടക്കുക
Name[mn]=Гарах
Name[mr]=बाहेर पडा 
Name[ms]=Keluar
Name[my]=ပိတ်ပါ
Name[nb]=Avslutt
Name[nds]=Sluten
Name[ne]=अन्त्य गर्नुहोस्
Name[nl]=Afsluiten
Name[nn]=Avslutt
Name[nso]=Tlogela
Name[oc]=Sortir
Name[or]=ବିଦାୟ ନିଅନ୍ତୁ 
Name[pa]=ਬਾਹਰ
Name[pl]=Zakończ
Name[ps]=بندول
Name[pt]=Sair
Name[pt_BR]=Sair
Name[ro]=Ieșire
Name[ru]=Выход
Name[rw]=Kuvamo
Name[si]=පිට වන්න 
Name[sk]=Koniec
Name[sl]=Končaj
Name[sq]=Dalja
Name[sr]=Изађи
Name[sr@ije]=Изађи
Name[sr@latin]=Izađi
Name[sv]=Avsluta
Name[ta]=வெளியேறு 
Name[te]=నిష్క్రమించు 
Name[th]=ออก
Name[tk]=Çyk
Name[tr]=Çık
Name[tt]=Çığış
Name[ug]=چېكىن
Name[uk]=Вийти
Name[ur]=
Name[uz]=Chiqish
Name[uz@cyrillic]=Чиқиш
Name[vi]=Thoát
Name[wa]=Moussî foû
Name[xh]=Phuma
Name[yi]=הער אױף
Name[zh_CN]=退出
Name[zh_HK]=結束
Name[zh_TW]=結束
Icon=application-exit
Exec=gtk-logout
StartupNotify=true
Terminal=false
Type=Application
Categories=System
